               <br> 
                <form>
                 <label for="date">from:</label>   
                 <input id="date" placeholder="{{startDate}}">
                    <br>
                 <label for="date">to:</label>   
                 <input id="date" placeholder="{{endDate}}">   
                </form>