<div>
    {{#with influenced}}
    <ul>
        <li>Niels Bohr</li>
        <li>Erwin Schrödinger</li>
        <li>Werner Heisenberg</li>
        <li>Richard Feynman</li>
    </ul>
    {{/with}}
</div>