<div>
    {{#with known_for}}
    <ul>
            <li>'Theory of Relativity'</li>
            <li>'E=mc²'</li>
            <li>'Photoelectric Effect'</li>
            <li>'Brownian Motion'</li>
    </ul>
    {{/with}}
</div>