<div>
    {{#with quotes }}
    <ul>    
            <li>"Imagination is more important than knowledge."</li>
            <li>"I have no special talent. I am only passionately curious."</li>
            <li>"The important thing is not to stop questioning."</li>
            <li>"'The most beautiful thing we can experience is the mysterious. It is the source of all true art and all science."</li>
    </ul>
    {{/with}}
</div>